@import "@angular/material/prebuilt-themes/azure-blue.css";

.config-container {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
    height: fit-content;

    margin: 2rem auto;
    padding: 0 1rem;
}

h1 {
    color: #ffffff;
    font-family: Krona One;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.main-configuracao {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 20px;
}

/* Estilizando o conteúdo dentro do painel */
app-painel-expansivel {
    display:block  ;
    margin-bottom: 15px;
    width: 94vw;
}

/* Região onde insere dados */
input {
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

/* Cor em volta do Input */
input:focus {
    border-color: #f44336;
}

button {
    width: 100%;
    margin-top: 15px;
}

.panel-content {
    display: flex;
    flex-direction: column;
}