.main__conteudo__paineis {
    border: 2px solid var(--cor-terciaria);   
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    gap: 10px;
    overflow: hidden;
    
    /* Tão suave */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box;    
    transition: 0.3s;

    width: 100% ; 
    transition: width 0.3s ease, height 0.3s ease;

    flex-shrink: 0;
}

.main__conteudo__botoes:hover {
    background-color: var(--cor-hover);
}

.main__conteudo__paineis.expandido {
    height: 3500px;
    width: 325px;
}

.main__conteudo__botoes {
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    display: flex;
    gap: 10px;
}

.main__conteudo__paineis__titulos {
    top: 0;
    left: 0;
    margin: 0;
}

.main__conteudo__paineis__direcao__adiciona {
    text-align: right;
}

.main__conteudo__paineis__direcao__texto {
    text-align: left;
}