@use '@angular/material' as mat;

// Define o tema seguindo o padrão M3 (Material 3)
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: Roboto,
    plain-family: Roboto,
  ),
  // O erro estava aqui: agora passamos um objeto com a escala
  density: (
    scale: 0
  ),
));

html {
  height: 100%;
  // Aplica as variáveis de CSS do tema
  @include mat.theme($theme);
  
  // GERA OS ESTILOS DOS COMPONENTES (Isso fará o Accordion funcionar!)
  @include mat.all-component-themes($theme);
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}